<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a [routerLink]="['/home']"class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h4>YouTube</h4>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary"></a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" (keydown)="onKeydown($event)">
      </form>
      <div class="text-end">
        <a [routerLink]="['/login']" type="button" class="btn btn-outline-light me-2">Login</a>
        <a [routerLink]="['/register']" type="button" class="btn btn-warning">Create an Account</a>
      </div>
    </div>
  </div>
</header>
<br>
