<!DOCTYPE html>
<html>
<head>
  <title>My YouTube Video</title>
</head>
<body>
<style>
  .card-title.right {
    float: right;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="HTML5Video" class="video-js" controls playsinline></video>


      </div>
      <div class="d-flex align-items-center mt-3">
        <div>
          <h3 class="mr-2">{{this.video.name}}</h3>
          <p>{{this.video.description}}</p>
        </div>
        <div class="ml-auto">
          <a class="button" style="text-decoration: none;" (click)="toggleLike()">
            <div class="rate-icon" [ngClass]="{ 'liked': this.hasLiked }">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                <g>
                  <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"></path>
                </g>
              </svg>
            </div>
            <h2 class="mb-0">{{this.likeCount}}</h2>
          </a>
        </div>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Comments</h4>
      <div *ngIf="angForm.controls['commentBody'].invalid && angForm.controls['commentBody'].touched"
           class="alert alert-danger alert-cstm">
        Your comment needs to have from 15 to 1024 characters.
      </div>
      <form *ngIf="loggedIn" [formGroup]="angForm">
        <div class="form-group">
          <label for="comment-text">Leave a comment:</label>
          <textarea formControlName="commentBody" class="form-control" id="comment-text" rows="3" placeholder="Enter your comment"></textarea>
        </div>
        <p></p>
        <a (click)="addComment()" type="submit" class="btn btn-primary">Submit</a>
      </form>
<br>
      <br>

      <br>
      <div id="comments-container">
        <div class="card mb-3" *ngFor="let comment of comments">
          <div class="card-body">
            <h5 class="card-title">{{ comment.user.username }}</h5>
            <p class="card-title right">{{ comment.datetime }}</p>
            <p class="card-text">{{ comment.comment }}</p>
          </div>
        </div>
        <div *ngIf="commentError">
          <h3>There are no more comments</h3>
        </div>
      </div>



    </div>
  </div>
</div>

</body>
</html>
