<div *ngIf="formError" class="alert alert-danger alert-cstm">
  {{ formError }}
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let video of videos">
      <div class="card">
        <a [routerLink]="['/view', video.id]" class="text-decoration-none text-reset">
          <img class="card-img-top img-fluid" src="http://localhost:8080/videos/uploads/{{video.file}}.png" alt="{{video.name}}">
        </a>
        <div class="card-body">
          <a [routerLink]="['/view', video.id]" class="text-decoration-none text-reset">
            <h5 class="card-title" [style.max-width.px]="400" [style.overflow]="'hidden'" [style.text-overflow]="'ellipsis'" [style.white-space]="'nowrap'"><strong>{{video.name}}</strong></h5>
          </a>
          <a [routerLink]="['/view', video.id]" class="text-decoration-none text-reset">
            <p class="card-text" [style.max-height.px]="50" [style.overflow]="'hidden'" [style.text-overflow]="'ellipsis'">{{video.description}}</p>
          </a>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-danger" (click)="deleteVideo(video.id)">Delete</button>
          <button class="btn btn-primary" (click)="manageVideo(video.id)">Manage Video</button>
        </div>
      </div>


    </div>
  </div>
</div>
